body {
  /* COMMON & INNER */
  box-sizing: border-box;
  font-family: 'Noto Serif KR', serif;
  // font-family: 'Noto Sans KR', sans-serif;
  // font-family: 'Playfair Display', serif;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  height: 540vh;
  min-width: 1600px;

  a {
    text-decoration: none;
    color: #333;
    transition: .6s;
  }

  a:active {
    color: rgba(0, 0, 0, .3);
    text-decoration: none;
  }

  h4,
  h5 {
    font-size: 34px;
    font-weight: 700;
    color: rgb(128, 128, 128);
    // position: absolute;
    // left: 148px;top: 0;
  }

  img {
    display: block;
  }

  /* INNER */
  .inner {
    width: 1600px;
    margin: 0 auto;
    position: relative;
  }

  section {
    width: 100%;
    min-width: 1600px;
  }



  /* HEADER */
  header {
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: 'Noto Sans KR', sans-serif;
    background: white;

    .bg {
      width: 100%;
      height: 60px;
      background: #f4f0ed;
      position: absolute;
      top: -60px;
    }

    .inner {
      background: white;

      .login {
        display: flex;
        position: absolute;
        right: 0;
        top: -60px;
        line-height: 60px;

        >* {
          margin-left: 14px;
        }
      }

      .menu {
        min-width: 1600px;
        margin: 60px 0 0;
        display: flex;
        align-items: center;

        >ul {
          display: flex;
          line-height: 160px;

          >li {
            padding: 0 30px;
            position: relative;
            transition: .4s;


            // DROPDOWN
            >.dropdown {
              line-height: 60px;
              background: #f4f0ed;
              border-radius: 3px;
              position: absolute;
              left: -30px;
              top: 136px;
              z-index: 1;
              display: none;
              opacity: 0;
              transition: opacity .4s;

              li {
                a {
                  display: block;
                  width: 300px;
                  padding: 0 30px 0;
                }

                a:hover {
                  background: #d6d5d5;
                }
              }
            }

            &:hover>.dropdown {
              display: block;
              opacity: 1;
            }

          }
        }

        h2 {
          font-family: 'Noto Serif KR', serif;
          font-size: 36px;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          cursor: pointer;
        }

        .search {
          position: absolute;
          right: 0;

          input {
            border: none;
            border-bottom: 1px solid #333;
            padding-bottom: 6px;
          }

          input:focus {
            outline: none;
          }

          span {
            color: #333;
            position: absolute;
            right: 0;
            cursor: pointer;
          }
        }

        .hamburger {
          display: none;
          cursor: pointer;

          .bar {
            display: block;
            width: 40px;
            height: 6px;
            border-radius: 50px;
            margin: 5px auto;
            transition: all .3s ease-in-out;
            background: gray;
          }
        }
      }
    }
  }



  // MAIN-IMG
  .main-img {
    height: 100vh;
    background: center / cover no-repeat url(../images/wedding-main.jpg);
    position: absolute;
    left: 0;
    right: 0;

    h2 {
      font-family: 'Playfair Display', serif;
      font-size: 104px;
      line-height: 1.6;
      color: white;
      text-shadow: 0 77px 0 black;
      position: absolute;
      left: 6%;
      top: 26%;
    }

    .btn {
      width: 164px;
      height: 54px;
      color: #333;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 23px;
      text-align: center;
      line-height: 2.1;
      border: 1px solid rgba(0, 0, 0, 0.3);
      border-radius: 6px;
      position: absolute;
      top: 75%;
      left: 11%;
    }

    .btn:hover {
      background: rgba(255, 255, 255, .6);
      color: #333;
    }
  }



  // ABOUT US
  .aboutus {
    position: relative;
    top: 1000px;
    color: rgb(128, 128, 128);

    .inner {
      display: flex;

      .container {
        width: 1200px;
        margin-left: 140px;
        display: flex;
        justify-content: space-around;

        .wrap {
          width: 304px;

          .material-icons {
            font-size: 34px;
          }

          .line {
            display: block;
            width: 100%;
            border-bottom: 1px solid rgb(128, 128, 128);
            margin: 16px 0;
          }

          .text {
            h6 {
              font-size: 16px;
              font-weight: 900;
              margin-bottom: 13px;
            }

            p {
              font-size: 14px;
              color: rgb(203, 203, 203);
            }
          }
        }

      }
    }
  }

  // INFINITE SLIDE
  .slide {
    height: 660px;
    background: #f4f0ed;
    position: relative;
    top: 1100px;

    .inner.title {
      h4 {
        position: absolute;
        top: 100px;
        color: rgb(128, 128, 128);
      }
    }

    .inner.container {
      top: 30%;
      display: flex;
      overflow: hidden;

      .box {
        width: 100vw;

        @keyframes slide {
          0% {
            transform: translateX(0);
          }

          100% {
            transform: translateX(calc(-540px * 6));
          }
        }

        animation: slide 30s linear infinite;
        display: flex;
        width: calc(540px * 12);

        .wrap {
          margin: 0 45px;

          .img-box {
            width: 450px;
            height: 300px;
            overflow: hidden;

            img {
              width: 100%;
              height: 100%;
              position: relative;
              transition: .6s;
            }
          }

          h6 {
            font-size: 16px;
            font-weight: 700;
            margin: 11px 0;
          }

          p {
            color: gray;
          }
        }

        .wrap:hover {
          cursor: pointer;

          .img-box {
            img {
              transform: scale(1.06);
            }
          }
        }
      }
    }
  }

  // SPACE-BG
  .space-bg {
    height: 660px;
    // height:66vh;
    position: absolute;
    top: 2230px;
    background: center 40px / cover no-repeat url("../images/wedding02.jpg");
    background-attachment: fixed;
    z-index: -1;

    color: white;
    font-size: 300px;
    display: flex;
    align-items: center;

    .behind {
      opacity: 0;
      transition: 3.6s;
    }
  }

  // ScrollMagic
  .show .behind.to-right {
    transform: translateX(140px);
    color: white;
  }

  .show .behind.to-down {
    transform: translate(60px, -60px);
    transition-delay: .3s;
    color: white;
  }

  .show .behind.to-up {
    transform: translate(36px, 60px);
    transition-delay: .6s;
    color: white;
  }

  .show .behind.to-left {
    transform: translateX(-16px);
    transition-delay: .9s;
    color: white;
  }

  .show .behind {
    opacity: 1;
    z-index: 3;
  }



  // NOTICE
  .notice {
    position: absolute;
    top: 2890px;

    .inner.title {
      h4 {
        position: absolute;
        top: 100px;
      }
    }

    .inner.container {
      top: 200px;
      display: flex;
      justify-content: space-between;
      margin: auto;

      .wrap {
        h6 {
          font-size: 16px;
          font-weight: 700;
          color: rgba(128, 128, 128, .6);
        }

        .img-box {
          width: 460px;
          margin: 14px 0;
          overflow: hidden;

          img {
            width: 100%;
            transition: .4s;
          }
        }

        strong {
          font-size: 13px;
          font-family: 'Noto Sans KR', sans-serif;
        }

        p {
          margin-top: 6px;
          font-size: 11px;
          font-family: 'Noto Sans KR', sans-serif;
          color: rgb(128, 128, 128);
        }
      }

      .wrap:hover {
        .img-box {
          img {
            transform: scale(1.06);
            cursor: pointer;
          }
        }
      }
    }
  }

  // MAP
  iframe {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 3660px;
    left: 0;
    right: 0;
    margin: auto;
  }

  // INFO-ONE
  .info-one {
    padding: 100px 0;
    position: absolute;
    top: 4460px;
    background: #f4f0ed;

    .inner {
      width: 1200px;
      display: flex;
      justify-content: space-around;

      .wrap {
        text-align: center;

        h6,
        p,
        .box {
          font-family: 'Noto Sans KR', sans-serif;
          font-size: 13px;
        }

        h5 {
          margin-bottom: 11px;
        }

        h6 {
          opacity: .6;
        }

        p {
          margin-top: 2px;
        }

        .box {
          width: 100px;
          height: 41px;
          margin: 16px auto 0;
          background: rgb(101, 77, 77);
          border: 1px solid transparent;
          color: white;
          line-height: 39px;
          box-sizing: border-box;
          transition: .4s;
        }

        .box:hover {
          border: 1px solid rgb(101, 77, 77);
          background: transparent;
          color: #333;
          cursor: pointer;
        }
      }
    }
  }

  // INFO-TWO
  .info-two {
    padding: 60px 0;
    position: absolute;
    top: 4930px;
    text-align: center;

    // SNS
    .sns {
      width: 200px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto 30px;

      li {
        a {
          width: 36px;
          height: 36px;
          background: rgb(101, 77, 77);
          border-radius: 50%;
          font-size: 20px;
          color: white;
          text-align: center;
          line-height: 36px;
        }
      }
    }

    // TEXT
    .text {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 13px;

      span {
        margin: 0 4px;
        position: relative;
      }

      span::after {
        content: "";
        width: 1px;
        height: 13px;
        background: #333;
        position: absolute;
        right: -6px;
        top: 4px;
      }

      .last::after {
        display: none;
      }

      p {
        margin: 10px 0;
      }
    }
  }
}


// 태블릿
@media (max-width:992px) {
  body {
    header {
      .inner {
        .login {
          right: 60px;
        }
      }

      .menu {
        >ul {
          position: relative;
          right: 60px;
        }

        .search {
          margin-right: 60px;
        }
      }
    }

    section {
      .inner {
        width: 1300px;

        h4 {
          white-space: nowrap;
        }
      }
    }

    .notice {
      .inner.container {
        .wrap {
          .img-box {
            width: 390px;
          }
        }
      }
    }

    iframe {
      left: 40%;
    }
  }
}

// Mobile
@media (max-width:768px) {
  body {
    header {

      .bg,
      .inner .login {
        display: none;
      }

      .inner {
        height: 160px;

        .menu {
          margin: 0;

          .lists {
            width: 50%;
            line-height: 60px;
            flex-direction: column;
            text-align: center;
            position: fixed;
            right: -100%;
            top: 160px;
            background: white;
            transition: .3s;

            >li {
              text-align: center;
              padding: 16px;

              .dropdown {
                top: 30px;
              }
            }
          }

          h2 {
            left:200px;
            bottom: 0;
            line-height: 160px;
          }

          .search {
            display: none;
          }

          .hamburger {
            display: block;
            position: absolute;
            right: 100px;
            bottom: 60px;
          }

          .hamburger.active .bar:nth-child(2) {
            opacity: 0;
          }

          .hamburger.active .bar:nth-child(1) {
            transform: translateY(11px) rotate(45deg);
          }

          .hamburger.active .bar:nth-child(3) {
            transform: translateY(-11px) rotate(-45deg);
          }
        }

        .nav-menu.active {
          .lists {
            right: 0;
          }
        }

      }
    }

    .aboutus {
      .inner {
        .container {
          flex-direction: column;

          .wrap {
            width: 100%;
            margin: 0 0 60px;
          }
        }
      }
    }

    .space-bg {
      top: 2580px;
    }

    .notice {
      top: 3300px;

      .inner.title {
        h4 {
          font-size:40px;
        }
      }

      .inner.container {
        flex-direction: column;

        .wrap {
          margin: 60px auto;

          h6 {
            font-size:26px;
          }
          strong,
          p {
            font-size:23px;
          }

          .img-box {
            width: 100%;
          }
        }
      }
    }

    iframe {
      top:7000px;
    }

    .info-one {
      top:7770px;
    }

    .info-two {
      top:8230px;
    }
  }
}